<div class="btn-group" style="width: 100%">
    <button
      type="button"
      class="btn dropdown-toggle"
      [ngClass]="classesBtn"
      (click)="toggleDropdown()"
      [disabled]="disabled">
        {{getButtonText()}}&nbsp;<span class="caret"></span>
    </button>

    <ul class="dropdown-menu dropdown-menu-form"
        [ngStyle]="{display: open ? 'block' : 'none'}">

        <li *ngIf="showSelectAll">
            <a (click)="selectAll()" href="">
                <span class="glyphicon glyphicon-ok"></span> {{labels.selectAll || 'Select All'}}
            </a>
        </li>
        <li *ngIf="showUnselectAll">
            <a (click)="unselectAll()" href="">
                <span class="glyphicon glyphicon-remove"></span> {{labels.unselectAll || 'Unselect All'}}
            </a>
        </li>
        <li *ngIf="(showSelectAll || showUnselectAll)"
            class="divider">
        </li>

        <li
          role="presentation"
          *ngFor="let option of selectedOptions"
          class="active">
            <a
              class="item-selected"
              href=""
              title="{{showTooltip ? getDisplay(option) : ''}}"
              (click)="toggleItem(option); $event.stopPropagation()"
              style="overflow-x: hidden;text-overflow: ellipsis">
                <span class="glyphicon glyphicon-remove"></span>
                {{getDisplay(option)}}
            </a>
        </li>
        <li *ngIf="selectedOptions.length > 0" class="divider"></li>

        <li *ngIf="showSearch">
            <div class="dropdown-header">
                <input type="text" class="form-control input-sm" style="width: 100%;"
                       ng-model="searchFilter" placeholder="{{labels.search || 'Search...'}}" ng-change="updateOptions()"/>
            </div>
        </li>

        <li *ngIf="showSearch" class="divider"></li>
        <!-- filter:search() | limitTo: searchLimit -->
        <!--*ngIf="!isSelected(option)" -->
        <li role="presentation"
          *ngFor="let option of unselectedOptions"
          [ngClass]="{disabled : selectionLimit && selectedOptions.length >= selectionLimit}"
          >
            <a class="item-unselected"
              href=""
              title="{{showTooltip ? getDisplay(option) : ''}}"
              ngIf="!isSelected(option)" 
              (click)="toggleItem(option); $event.stopPropagation()">
                {{getDisplay(option)}}
            </a>
        </li>


        <li class="divider" *ngIf="selectionLimit > 1"></li>
        <li role="presentation" *ngIf="selectionLimit > 1">
            <a>{{selectedOptions.length || 0}} / {{selectionLimit}} {{labels.itemsSelected || 'selected'}}</a>
        </li>

    </ul>

</div>
